@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
    --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --text-5xl: 2.5rem;
    --text-6xl: 3rem;
    --text-7xl: 3.75rem;
    --text-8xl: 4.5rem;
    --text-9xl: 6rem;

    --leading-11: 2.75rem;
    --leading-12: 3rem;

    --breakpoint-sm: 576px;
    --breakpoint-md: 690px;
    --breakpoint-lg: 880px;
    --breakpoint-xl: 986px;
    --breakpoint-2xl: 1110px;
}

@layer base {
    body {
        @apply text-slate-950;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold font-serif;
    }
}

.header-nav .active {
    @apply bg-cyan-700 md:bg-slate-50 text-slate-50 md:text-cyan-700;
}

.project-item:nth-child(odd) .text-col .text-col-inner {
    margin-left: auto;
}

.project-item:nth-child(even) .text-col {
    order: 2;
}

.project-item:nth-child(even) .image-col {
    order: 1;
}

.project-bg a {
    text-decoration: underline;
}

.not-found {
    min-height: 100vh;
    position: relative;
}

.not-found footer {
    bottom: 0;
    width: 100%;
}

@media (height > 806px) and (width < 576px), (height > 476px) and (width > 576px), (height > 595px) and (width >= 880px) {
    .not-found footer {
        position: fixed;
    }
}

@media (max-width: 767px) {
    .home-hero {
        background-image: none !important;
    }

    .project-item:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .project-item:nth-child(even) .text-col {
        order: 1;
    }

    .project-item:nth-child(even) .image-col {
        order: 2;
        text-align: right;
    }
}
