@import "tailwindcss";

@theme {
    --font-sans: "Open Sans", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --text-5xl: 2.5rem;
    --text-6xl: 3rem;
    --text-7xl: 3.75rem;
    --text-8xl: 4.5rem;
    --text-9xl: 6rem;

    --leading-11: 2.75rem;
    --leading-12: 3rem;

    /* 
        py-18 / mb-18   4.5rem
    */

    --breakpoint-sm: 576px;
    --breakpoint-md: 690px;
    --breakpoint-lg: 880px;
    --breakpoint-xl: 986px;
    --breakpoint-2xl: 1110px;
}

@layer base {
    body {
        @apply text-slate-950;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold font-serif;
    }

    nav.header-nav > .nav-current {
        @apply bg-cyan-700 md:bg-slate-50 text-slate-50 md:text-cyan-700;
    }
}

.project-item:nth-child(odd) .text-col .text-col-inner {
    margin-left: auto;
}

.project-item:nth-child(even) .text-col {
    order: 2;
}

.project-item:nth-child(even) .image-col {
    order: 1;
}

.project-bg a {
    text-decoration: underline;
}

@media (max-width: 767px) {
    .home-hero {
        background-image: none !important;
    }

    .project-item:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .project-item:nth-child(even) .text-col {
        order: 1;
    }

    .project-item:nth-child(even) .image-col {
        order: 2;
        text-align: right;
    }
}
